@use "./../../helpers/variable" as v;
footer {
  div.footer-top {
    div.container {

    }
  }

  div.footer-bottom {
    background-color: #010c2c;
    padding: 12px 0;
    div.container {
      p.footer-create-by {
        color: #ccdce9e5;
        text-align: center;
      }
    }
  }
}