// @use "./../../../../../helpers/variable" as v;
section.landing {
  // height: calc(100dvh - 80px);
  @media (min-width: 767.98px) and (max-width: 991.98px) {
    height: auto;
  }
  overflow: hidden;
  div.container {
    display: flex;
    // align-items: center;
    // height: calc(100dvh - 80px);
    min-height: 508px; //722 in mobile
    flex-shrink: 0;
    @media (max-width: 576px){
      min-height: 740px;
    }
    @media (max-width: 991.98px) {
      flex-direction: column;
    }
    gap: 50px;
    @media (max-width: 991.98px) {
      gap: 0;
    }
    div.landing-left {
      margin-top: 97px;
      @media (max-width: 991.98px) {
        margin-top: 27px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
      }
      span.hi {
        font-size: 24px;
        font-weight: bold;
        // color: #6D716B;
        color: var(--second_color);
      }
      h1.landing-header {
        font-size: 71px;
        // color: #747474;
        color: var(--main_color_Two);
        font-weight: 900;
        white-space: nowrap;
        line-height: 1;
        margin-top: 15px;
        @media (max-width: 767.98px) {
          font-size: 36px;
        }
        @at-root html[dir="rtl"]
            section.landing
            div.container
            div.landing-left
            h1.landing-header {
          @media (max-width: 767.98px) {
            font-size: 43px;
          }
        }
      }

      p.landing-subheader {
        font-size: 40px;
        // color: #4B4B4B;
        color: var(--second_color);
        font-weight: 900;
        @media (max-width: 767.98px) {
          font-size: 30px;
        }
        @at-root html[dir="rtl"]
            section.landing
            div.container
            div.landing-left
            p.landing-subheader {
          @media (max-width: 767.98px) {
            font-size: 36px;
          }
        }
      }

      p.landing-paragraph {
        // color: #878787;
        color: var(--paragraph_color);
        font-weight: 500;
        max-width: 547px;
        margin-top: 3px;
      }

      button.header-btn {
        border-radius: 6px;
        // background-color: #4C4C4C;
        background-color: var(--main-btn-color);
        color: #dee3d4;
        padding: 12px 32px;
        margin-top: 30px;
        @media (max-width: 991.98px) {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }

    div.landing-right {
      margin-top: 58px;
      flex: 1;
      display: flex;
      justify-content: center;
      @media (max-width: 991.98px) {
        margin-top: 36px;
      }
      div.image-hand {
        clip-path: polygon(
          30% 0%,
          70% 0%,
          100% 30%,
          100% 70%,
          70% 100%,
          30% 100%,
          0% 70%,
          0% 30%
        );
        // background-color: #eee;
        background-color:  var(--bg-main-color-two);
        overflow: hidden;
        height: 450px;
        @media (max-width: 991.98px) {
          height: 353px;
          width: 275px;
        }
        img.my-image {
          position: relative;
          @media (max-width: 767.98px) {
            left: -15px;
          }
          @at-root html[dir="rtl"]
              section.landing
              div.container
              div.landing-right
              div.image-hand
              img.my-image {
            @media (max-width: 767.98px) {
              right: -11px;
            }
          }
        }
      }
    }
  }
}
